<template>
  <div v-if="asyncDataStatus_ready" class="col-large push-top">
        <h1>{{thread.title}}</h1>

        <router-link
          :to="{name: 'ThreadEdit', id: this.id}"
          class="btn-green btn-small"
          tag="button"
        >
          Edit Thread
        </router-link>
        <p class="push-top">
          By <a href="#" class="link-unstyled">{{user.username}}</a>, <AppDate :timestamp="thread.publishedAt" />
          <span style="float:right; margin-top: 2px;" class="hide-mobile text-faded text-small">{{repliesCount}} {{repliesCount > 1 ? "replies" : "reply"}} by {{contributorsCount}} {{contributorsCount > 1 ? "contributors": "contributor"}}</span>
        </p>
        <PostList :posts="posts" />
        <PostEditor 
          v-if="authUser"
          :threadId="id"
        />
        <div v-else class="text-center" style="margin-bottom: 50px;">
          <router-link
          :to="{name: 'SignIn', query: {redirectTo: $route.path}}">
          Sign in
          </router-link> or
          <router-link
          :to="{name: 'Register', query: {redirectTo: $route.path}}">
          Register
          </router-link> to post a reply.
        </div>
  </div>

</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import PostList from '@/components/PostList'
import PostEditor from '@/components/PostEditor'
import {countObjectProperties} from '@/utils'
import asyncDataStatus from '@/mixins/asyncDataStatus'

export default {
  components: {
    PostList,
    PostEditor
  },
  mixins: [asyncDataStatus],
  props: {
      id: {
          required: true,
          type: String
      }
  },
  computed: {
    ...mapGetters({
      authUser: 'auth/authUser'
    }),
    posts () {
      const postIds = Object.values(this.thread.posts)
      return Object.values(this.$store.state.posts.items)
        .filter(post => postIds.includes(post['.key']))
    },
    thread () {
      return this.$store.state.threads.items[this.id]
    },
    user () {
      return this.$store.state.users.items[this.thread.userId]
    },
    contributorsCount () {
      return countObjectProperties(this.thread.contributors) 
    },
    repliesCount () {
      return this.$store.getters['threads/threadRepliesCount'](this.id)
    }
  },
  methods: {
        ...mapActions('posts', ['fetchPosts']),
        ...mapActions('threads', ['fetchThread']),
        ...mapActions('users', ['fetchUser'])
  },
  created () {
    // Fetch Thread
      this.fetchThread({id: this.id})
        .then(thread => {
      // Fetch User
          this.fetchUser({id: thread.userId})

          return this.fetchPosts({ids: Object.keys(thread.posts)})
        })
        .then(posts => {
          return Promise.all(posts.map(post => {
            this.fetchUser({id: post.userId})
          }))
        })  
        .then(() => {this.asyncDataStatus_fetched()})        
  }   
}
</script>