<template>
    <div v-if="asyncDataStatus_ready" class="col-full push-top">
        <h1>Editing <i>{{thread.title}}</i></h1>
        <ThreadEditor
            ref="changeEditor"
            :title="thread.title"
            :text="text"
            @save="save"
            @cancel="cancel"
        />
    </div> 
</template>

<script>
import {mapActions} from 'vuex'
import ThreadEditor from '@/components/ThreadEditor'
import asyncDataStatus from '@/mixins/asyncDataStatus'

export default {
    components: {
        ThreadEditor
    },
    mixins: [asyncDataStatus],
    props: {
        id: {
            required: true,
            type: String
        }
    },
    computed: {
        thread () {
            return this.$store.state.threads.items[this.id]
        },

        text () {
            const post = this.$store.state.posts.items[this.thread.firstPostId]
            return post ? post.text : null
        },

        hasUnsavedChanges () {
            return (this.thread.title != this.$refs.changeEditor.form.title || this.text != this.$refs.changeEditor.form.text )
        }
    },
    methods: {
        ...mapActions('threads',['updateThread', 'fetchThread']),
        ...mapActions('posts', ['fetchPost']),

        save ({title, text}) {
            this.updateThread({
                id: this.id,
                title,
                text
            }).then(thread => {
                this.saved = true
                this.$router.push({name: 'ThreadShow', params: {id: this.id}})
            })
        },
        cancel () {
            this.$router.push({name: 'ThreadShow', params: {id: this.id}})
        }
    },
    created () {
        this.fetchThread({id: this.id})
            .then(thread => this.fetchPost({id: thread.firstPostId}))
            .then(() => {this.asyncDataStatus_fetched() })
    },
    beforeRouteLeave( to, from, next) {
        if (this.hasUnsavedChanges) {
            const confirmed = window.confirm('Bist du sicher, dass du die Seite verlassen möchtest? Alle Änderungen gehen verloren! ')
            if (confirmed) {
                next()
            } else {
                next(false)
            }
        } else {
            next()
        }
    }   
    
}
</script>

<style scoped>

</style>