<template>
<div class="col-full" 
    :class="$style.centered">
    <h1 :class="$style.headingLarge">404 Not Found</h1>
    <p 
    :class="$style.textLarge">
    Ooops, the page you were looking for doesn't exist ... yet! 
        <router-link :to="{name: 'Home' }">Do you want to go home?</router-link>
    </p>
</div>
    
</template>

<script>
export default {
    created() {
        this.$emit('ready')
    }
}
</script>

<style module>
    .headingLarge {
        font-size: 100px
    }
    .textLarge {
        font-size: 50px;
        font-weight: 100;
    }
    .centered {
        text-align: center;
    }
</style>