<template>
    <header class="header" id="header" v-click-outside="closeMobileNavbar" v-handle-scroll="closeMobileNavbar">
        <router-link 
        :to="{name: 'Home'}"
        class="logo"
        >
            <img src="../assets/img/vueschool-logo.svg">   

        </router-link>

        <div class="btn-hamburger" @click="mobileNavOpen = !mobileNavOpen">
            <div class="top bar"></div>
            <div class="middle bar"></div>
            <div class="bottom bar"></div>
        </div>

        <nav class="navbar" :class="{'navbar-open': mobileNavOpen}">
            <ul v-if="user">
                <li class="navbar-user" v-click-outside="closeUserDropdown">
                    <a @click.prevent="userDropdownOpen = !userDropdownOpen">
                        <img class="avatar-small" :src="user.avatar" alt="User Avatar">
                        <span>
                            {{user.name}}
                            <img class="icon-profile" src="../assets/img/arrow-profile.svg" alt="">
                        </span>
                    </a>

                    <!-- dropdown menu -->
                    <!-- add class "active-drop" to show the dropdown -->
                    <div id="user-dropdown" :class="{'active-drop': userDropdownOpen}">
                        <div class="triangle-drop"></div>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-item">
                                <router-link :to="{name: 'Profile'}">
                                    View Profile
                                </router-link>
                            </li>
                            <li class="dropdown-menu-item">
                                <a @click.prevent="$store.dispatch('auth/signOut')">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="navbar-mobile-item"><router-link :to="{name: 'Profile'}">View Profile</router-link></li>
                <li class="navbar-mobile-item"><a @click.prevent="$store.dispatch('auth/signOut')">Sign Out</a></li>
            </ul>
            <ul v-else>
                <li class="navbar-item">
                    <router-link :to="{name: 'SignIn'}">Sign In</router-link>
                </li>
                <li class="navbar-item">
                    <router-link :to="{name: 'Register'}">Register</router-link>
                </li>
            </ul>
        </nav>
    </header>
</template>

<script>
    import {mapGetters} from 'vuex'
    import clickOutside from '@/directives/click-outside.js'
    import handleScroll from '@/directives/handle-scroll.js'

    export default {
        directives: {
            clickOutside,
            handleScroll
        },
        data () {
            return {
                userDropdownOpen: false,
                mobileNavOpen: false
            }
        },
        computed: {
            ...mapGetters({
                'user': 'auth/authUser'
            })

        },
        methods: {
            closeUserDropdown () {
                return this.userDropdownOpen = false
            },
            closeMobileNavbar () {
                return this.mobileNavOpen = false
            }
        }


    }

</script>

<style scoped>

</style>