<template>
    <div class="col-3 push-top">
        <div class="profile-card">
            <p class="text-center">
                <img :src="user.avatar" alt="User Avatar" class="avatar-xlarge img-update">
            </p>
        

            <div class="form-group">
                <input 
                v-model.lazy="activeUser.username" 
                type="text" 
                placeholder="Username" 
                class="form-input text-lead text-bold"
                @blur="$v.activeUser.username.$touch()"
                >
                <template v-if="$v.activeUser.username.$error">
                    <span v-if="!$v.activeUser.username.required" class="form-error">A username is required</span>
                    <span v-if="!$v.activeUser.username.unique" class="form-error">This username already exists</span>
                </template>
            </div>

            <div class="form-group">
                <input 
                v-model.lazy="activeUser.name" 
                type="text" 
                placeholder="Full Name" 
                class="form-input text-lead"
                @blur="$v.activeUser.name.$touch()">
                <template v-if="$v.activeUser.name.$error">
                    <span v-if="!$v.activeUser.name.required" class="form-error">A name is required</span>
                </template>
            </div>

            <div class="form-group">
                <label for="user_bio">Bio</label>
                <textarea 
                v-model="activeUser.bio" 
                class="form-input" 
                id="user_bio" 
                placeholder="Write a few words about yourself."
                @blur="$v.activeUser.bio.$touch()"
                ></textarea>
                <template v-if="$v.activeUser.bio.$error">
                    <span v-if="!$v.activeUser.bio.minLength" class="form-error">You still need {{restCharacters}} {{restCharacters > 1 ? "characters" : "character"}}.</span>
                </template>
            </div>

            <div class="stats">
                <span>{{userPostsCount}} posts</span>
                <span>{{userThreadsCount}} threads</span>
            </div>

            <hr>

            <div class="form-group">
                <label class="form-label" for="user_website">Website</label>
                <input v-model="activeUser.website" autocomplete="off" class="form-input" id="user_website">
            </div>

            <div class="form-group">
                <label class="form-label" for="user_email">Email</label>
                <input 
                v-model.lazy="activeUser.email" 
                autocomplete="off" 
                class="form-input" 
                id="user_email"
                @blur="$v.activeUser.email.$touch()">
                <template v-if="$v.activeUser.email.$error">
                    <span v-if="!$v.activeUser.email.required" class="form-error">An e-mail is required</span>
                    <span v-if="!$v.activeUser.email.unique" class="form-error">This e-mail already exists</span>
                </template>
            </div>

            <div class="form-group">
                <label class="form-label" for="user_location">Location</label>
                <input v-model="activeUser.location" autocomplete="off" class="form-input" id="user_location">
            </div>

            <div class="btn-group space-between">
                <button @click.prevent="cancel" class="btn-ghost">Cancel</button>
                <button @click.prevent="save" type="submit" class="btn-blue">Save</button>
            </div>
        </div>

        <p class="text-xsmall text-faded text-center">Member since june 2003, last visited 4 hours ago</p>

    </div>
</template>

<script>

    import {required, minLength} from 'vuelidate/lib/validators'
    import {uniqueUsername, uniqueEmail} from '@/utils/validators'

    export default {
        props: {
            user: {
                required: true,
                type: Object
            }
        },
        data () {
            return {
                activeUser: {...this.user}
            }
        },
        validations: {
            activeUser: {
                name: {
                    required
                },
                username: {
                    required,
                    unique (value) {
                        if (value.toLowerCase() === this.user.usernameLower) {
                            return true
                        }
                        return uniqueUsername(value)
                    }
                },
                email: {
                    required,
                    unique (value) {
                        if (value === this.user.email) {
                            return true
                        }
                        return uniqueEmail(value)
                    }
                },
                bio: {
                    minLength: minLength(30)
                }

            }
        },
        methods: {
            save () {
                this.$v.activeUser.$touch()
                if (this.$v.activeUser.$invalid) {
                    return
                }
                this.$store.dispatch('users/updateUser', {...this.activeUser})
                this.$router.push({name: 'Profile'})
            },
            cancel () {
                this.$router.push({name: 'Profile'})
            }
        },
        computed: {
                userPostsCount() {
                    return this.$store.getters['users/userPostsCount'](this.user['.key'])
                },
                userThreadsCount() {
                    return this.$store.getters['users/userThreadsCount'](this.user['.key'])
                },
                restCharacters() {
                    return 30 - this.activeUser.bio.length
                }
            }
}
</script>

<style scoped>

</style>